<h1>POST</h1>
<%= form_for(@post) do |f| %>

<p>
<%= f.label :title %>
<%= f.text_field :title %>
</p>

<p>
<%= f.label :content %>
<%= f.text_area :content %>
</p>
<h2>Category Tags</h2>
<%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b| %>
<p>
    <%= b.label %>
    <%= b.check_box %>
</p>
<% end %>
<%# Will generate a checkbox named post[category_ids][] for each category in Category.all
# it will use the :id as the value for the checkbox
# and it will use the :name method as the label for the checkbox 
%>
<h2>New Category Name</h2>
<%= f.fields_for :categories, Category.new do |category_builder| %>
    <%= category_builder.text_field :name %>
<% end %>
<br>
<br>

<%= f.submit %>

<% end %>

