<h1><%= @post.title %></h1><br>
<%= @post.content %><br>
<h2> Comments : </h2>
<% @post.comments.each do |comment| %>
  <%= comment.author %> says: <%= comment.content %>
<% end %>
<br>
<h2>Categories: </h2>
<ul>
  <% @post.categories.each do |category| %>
  <li><%= category.name %></li>
  <% end %>
</ul>
<h2> Users commented: </h2>
<% @post.comments.each do |comment| %>
  <%= link_to comment.author, user_path(comment) %>
<% end %>

<%= form_for @post.comments.build do |f| %>
  <%= f.hidden_field :post_id %>
  <p>
    <%= f.collection_select :user_id, User.all, :id, :username %>
  </p>

  <%= f.fields_for :user, User.new do |user_fields| %>
    <%= user_fields.label :username %>
    <%= user_fields.text_field :username %>
  <% end %>

  <p>
    <%= f.label :content, "New Comment" %><br>
    <%= f.text_area :content %>
  </p>
  <br/>
  <%= f.submit %>
<% end %>