<h1><%= @post.title %></h1>
<h2>Content: </h2>
<h4><%= @post.content %></h4>

<h2>Category: </h2>
<h3><% @post.categories.each do |c| %>
        <li><%= c.name %></li>
    <% end %>



<h2>Comments: </h2>
<% @post.comments.each do |comment| %>
  <li><%= comment.user.username %> says: <%= comment.content %></li>
<% end %>

<ul>
    <% @post.users.uniq.each do |user| %>
    <li><%= link_to user.username, user_path(user) %></li>
    <% end %>
</ul>

<h2>Create A New Comment:</h2>

<%= form_for @post.comments.build do |f|%>
  <%= f.hidden_field :post_id %>
  <%= f.text_area :content %>
<br>
  <%= f.collection_select :user_id, User.all, :id, :username, include_blank: "Choose a User" %>
<br>
  Create A User to Write As:
  <%= f.fields_for :user, @post.comments.last.build_user do |user_fields|%>
 <br>
    Username:
    <%= user_fields.text_field :username %>
    Email:
    <%= user_fields.text_field :email %>
  <% end %>

  <%= f.submit %>
<% end %>
