<h1><%= @post.title %></h1>
<h2> Post Content </h2>
<p><%= @post.content %></p>
<h3>  Post Category: </h3>
<p> 
    <% @post.categories.each do |c| %>
        <%= c.name %><br>
    <% end %>
</p>
<h3>  Post Comments: </h3>
    <% @post.comments.each do |comment| %>
        <p><% if comment.user %><%= "#{comment.user.username} says: #{comment.content} "%> <% end %> </p>
    <% end %>
<h3>Users who have commented on post</h3>
<% @post.users.uniq.each do |user| %>
    <%= link_to user.username, user_path(user)%><br>
<%end%>
<h3>Add a new comment</h3>
    <%= form_for @post.comments.build do |f|%>
        <%= f.hidden_field :post_id, value: @post.id %>
        <br>
            Content
            <%= f.text_field :content%>
        <br>
            Select User
            <%= f.collection_select :user_id, User.all, :id, :username, :include_blank => true %>
        <br>
            New User:
            <%= f.fields_for :user, @post.users.build do |user_fields| %>
                <%= user_fields.text_field :username %>
            <%end%>
        <br>
   <%= f.submit%>
<%end%>