<h1>Post Title: <%= @post.title %></h1>
<h1>Post Content: <%= @post.content %></h1>

<h1>Commented Users:</h1>
    <% @post.comments.each do |comment| %>
        <%= comment.user %>
    <% end %>

<h1>Post Categories:</h1>
    <% @post.categories.each do |category| %>
        <%= category.name %>
    <% end %>

<h1>Post Comments:</h1>
    <ul>
        <% @post.comments.each do |comment| %>
            <li><%= comment.user.username %> says: <%= comment.content %></li>
        <% end %>
    </ul>

<h1>Users who commented on this post</h1>
    <ul>
        <% @post.users.uniq.each do |user| %>
            <li><%= link_to user.username, user_path(user) %>
        <% end %>
    </ul>

<h2>Create A New Comment:</h2>

<%= form_for @post.comments.build do |f|%>
  <%= f.hidden_field :post_id %>
  <%= f.text_area :content %>
<br>
  <%= f.collection_select :user_id, User.all, :id, :username, include_blank: "Choose a User" %>
<br>
  Create A User to Write As:
  <%= f.fields_for :user, @post.comments.last.build_user do |user_fields|%>
 <br>
    Username:
    <%= user_fields.text_field :username %>
    Email:
    <%= user_fields.text_field :email %>
  <% end %>

  <%= f.submit %>
<% end %>